input
{
    margin-top: 10px;
    height: 40px;
    line-height: 25px;
    width:100%;/* 200px;*/
    text-indent: 10px;
}

.listCompField{
    width: 500px;
    margin: 0 auto;
    padding: 0;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listCompField li
{
    padding: 5px;
    background-color: #F8F8F8;
    color: black;
    border-bottom: solid 1px #F1F1F1;
    clear: both;

}

.listCompField li span{display: block;}
.listCompField li span.name{float: left;}
.listCompField li span.phone{float:right;}